.feher{background-color: rgb(171, 240, 9);}
#masodik{margin-left: 10px;
margin: 0px 0px 0px 10px;
border-top: 1px black;
border-bottom: dashed blue;
border-left: yellow solid 1px;
border-right: pink ;
}
 #harmadik{
    border: 3px red solid;
    padding: 15px;
 } 
 #negyedik{
    background-image: -moz-radial-gradient();
 }